h1.h-1 {
  font-size: 1.5em;
}

#app > div.flex-grow-1.mt-5.container {
  width: 90%;
}
/* ||||||||| CHECKOUT ITEMS ||||||||| */
.fix-checkout {
  display: flex;
  flex-flow: column;
  width: 100%;
}

#app>div.flex-grow-1.mt-5.container>div>div>div.row.fix-checkout>aside>div.flex-space-around {
  border-radius: 0.75rem !important;
  background-color: #007bff !important;
  color: white;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset !important;
}

.checkout-1,
.aside {
  /* width: 80% !important; */
  /* flex: 30% 30% 30% !important; */
  max-width: 100% !important;
  color: darkblue;
  margin: 3em auto !important;
  /* background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%); */
  /* background: rgba(0, 212, 255, 1); */
}

.even-out-cover {
  height: 300px !important;
  width: 300px !important;
  object-fit: scale-down;
}

#add-remove,
#app>div.flex-grow-1.mt-5.container>div>div>div.row.fix-checkout>aside>div>div>div {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.h-2 {
  font-size: 38px !important;
  color: yellow;
  font-family: inherit;
  width: 100%;
  text-align: center;
  padding: .5em;
  margin-bottom: 1em;
  text-shadow: 3px 3px 3px black;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,45,71,1) 100%, rgba(0,212,255,1) 100%);
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.logo {
  font-size: 38px !important;
  color: yellow;
  font-family: zapfino;
  width: 100%;
  text-align: center;
  padding: 0 1em;
  margin-bottom: 1em;
  text-shadow: 3px 3px 3px black;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,45,71,1) 100%, rgba(0,212,255,1) 100%);
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.logo-2 {
  font-size: 18px !important;
  color: darkblue;
  font-family: zapfino;
  width: 100%;
  text-align: center;
  /* border: 2px solid darkblue; */
  padding: 0;
  margin-bottom: 1em;
  /* text-shadow: 3px 3px 3px black; */
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,45,71,1) 100%, rgba(0,212,255,1) 100%); */
  /* box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px; */
}

#checkout-2 {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,45,71,1) 100%, rgba(0,212,255,1) 100%);
  color: white;
  font-weight: bold;
  width: 200px;
  height: 63px;
  box-shadow: 0 0 10px black;
  /* position: absolute !important;
  top: 0em !important;
  right: 10em !important; */
}

#checkout-2:hover {
  background: red !important;
  color: #007bff;
  color: white;
  width: 35%;
}

.flex-space-around {
  display: flex;
  flex-flow: row !important;
  justify-content: space-around;
}

.checkout-item {
  padding: 10px 30px;
}

.checkout-row {
  display: flex;
  flex-flow: row !important;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 15px !important;
}

.checkout-row:nth-child(even) {
  border-bottom: 2px solid darkgrey;
  border-top: 2px solid darkgrey;
  padding: 1em;
}

.checkout-row:nth-child(odd) {
  border-bottom: 2px solid darkgrey;
  border-top: 2px solid darkgrey;
  padding: 1em;
}

#app > div.flex-grow-1.mt-5.container > div > div > div.row.center.block > div:nth-child(1) > a > h2 > div > div.align-items-center.profile-header.mb-5.text-center.text-md-left.row > div.col-md-2 > img {
  width: 300px !important;
  height: auto !important;
  object-fit: cover;
}

#app > div.flex-grow-1.mt-5.container-fluid > div > aside > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;

}

.even-out {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}